html, body{
font-family: 'Lato', sans-serif;
margin:0 auto;
padding:0;
box-sizing: border-box;
}
.alert{
    width:100px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    top:20px;
    left: 60px;
}
#divLogin{
    width:100%;
    height:80px;
    border-bottom: 5px solid red;
    background-color: #111;
    margin:0;
}

.firsTitle{
    color:whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    float:left;
}

.divPocetna{
    width: 100%;
    height:600px;
}

#divImg{
 /* background-image: url("imgs/lib1.jpg"); */
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
}
.quote{
    width:300px;
    height:150px;
    position: absolute;
    left:500px;
    top:320px;
    border-radius: 40px;
    border:1px solid red;
}

#quoteImg{
    height: 100%;
    width: 100%;
}

#divRegLog{
    display:flex;
    width:20%;
    float: right;
    margin-top:20px;
    margin-right:60px;  
}

.btnLog{
    height: 40px;
    width: 45%;
    background-image: linear-gradient(to right,red, darkred);
    color:whitesmoke;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.btnLog:hover{
    cursor: pointer;
    background-image: linear-gradient(to right,darkred, red);

}

.spane{
  background-color:#000;
  color:#fff;
  font-size: 22vw; 
  font-weight: bold;
  margin: 0 auto;
  width: 100%;
  height:100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode:multiply   ;
  opacity:0.84;
}

#divRegForm{
    position:absolute;
    top:80px;
    right:30px;
    background-image: linear-gradient(to right, #111 , gray);
    width: 300px;
    color:whitesmoke;
    border:1px solid whitesmoke;
    z-index: 100;
    padding: 0 10px;
    margin: 0;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(222, 227, 154, 0.6);
    display:none;
}


#divLogForm{
    position:absolute;
    top:80px;
    right:30px;
    background-image: linear-gradient(to right, #111 , gray);
    width: 300px;
    color:whitesmoke;
    border:1px solid whitesmoke;
    z-index: 100;
    padding: 0 10px;
    margin: 0;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(222, 227, 154, 0.6);
    display:none;
}

#divRegForm h3, #divLogForm h3{
    color:red;
    margin:10px;
}

#divRegForm p,  #divLogForm p{
    font-size:10px;
}

.inpsec{
    dispaly:flex-vertical;
    margin-top:15px;

}

#divRegForm input, #divLogForm input{
    position: relative;
    width: 90%;
    padding: 10px;
    margin: 2px 0 2px 0;
    display: inline-block;
    border: 1px solid whitesmoke;
    background-image: linear-gradient(to right,#f1f1f1, gray);
    color:black;
    font-size:12px;
    font-weight: bold;
    border-radius: 40px;
}

#divRegForm input:focus, #divLogForm input:focus {
    background-image: linear-gradient(to right,#dee39a, gray);
    outline: none;
  }
  

#divRegForm label, #divLogForm label{
    color:#9e3511;
    font-size:14px;
    font-weight:bolder;
}

.btnReg, .btnLog{
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid red;
    background-image: linear-gradient(to right,red, darkred);
    color:whitesmoke;
    font-size:14px;
    font-weight: bold;
    border-radius: 40px;
    outline:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btnLog{
    margin-left:0;
    padding: 0;
    width: 98%;
}



#divRegForm span, #divLogForm span{
    color:yellow;
    font-size:10px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top:5px;
}

#divRegForm a, #divLogForm a{
    color:aqua;
    font-size:100%;
    font-weight: bold;
}